body,html{margin:0;padding:0;font-family:'Lato',sans-serif;font-size:16px;line-height:1.45;background-color:#f0efec;overflow-x:hidden}
#content{background-color:#fff;padding-top:40px;padding-bottom:40px}
h2{margin:50px 0 8px 0;padding:0;font-family:'Lato',sans-serif;font-weight:700;font-size:30px;color:#204c57;}
h2 a{color:#204c57}
h3{margin:50px 0 8px 0}
p,li,pre{max-width:600px}
pre{margin:20px 0}
.date{font-family:'Lato',sans-serif;font-weight:300;font-style:italic;font-size:10px;color:#204c57;margin-bottom:10px}
code{color:#55a;background-color:#f3f3f9}
.center{text-align:center;max-width:600px}
img.diagram{margin:30px auto}
@media (max-width: 768px){img,iframe{width:100%}
}header{margin:0;padding:0;width:100%;background-color:#fff;}
header .title{margin:0 0 4px 40px;}
header .title h1{font-family:'Lato',sans-serif;font-weight:300;font-size:48px;margin:0;padding:0;color:#204c57}
header .title .links{height:50px;line-height:50px;margin-right:40px;font-family:'Lato',sans-serif;font-weight:700;font-size:18px;line-height:auto;}
header .title .links a{color:#204c57}
header .banner-bg{background-color:#f0efec;border-top:1px solid #204c57;border-bottom:1px solid #204c57;height:96px}
header .banner{font-size:12em;background-image:url("../media/img/dancers.png");width:100%;height:89px;background-repeat:repeat-x;background-position:left center;image-rendering:-webkit-optimize-contrast;ms-interpolation-mode:nearest-neighbor;image-rendering:-moz-crisp-edges}
footer{margin:0;padding:20px 0 0 0;height:200px;background-color:#f0efec;border-top:1px solid #204c57;}
footer .wave{display:inline-block;background-image:url("../media/img/wave.png");background-repeat:no-repeat;background-position:center top;width:42px;height:89px;image-rendering:-webkit-optimize-contrast;ms-interpolation-mode:nearest-neighbor;image-rendering:-moz-crisp-edges}
footer li{list-style-type:none;margin-bottom:4px}
footer li a{margin-left:10px;color:#204c57}
article.intro .more{font-family:'Lato',sans-serif;font-weight:700;font-size:18px;line-height:auto;color:#204c57;}
article.intro .more a{color:#204c57}
article.intro .more:after{margin-left:5px;content:"\f0a9";font-family:FontAwesome}
.archives{margin-top:40px;width:100%;text-align:center;color:#204c57;}
.archives a{width:100%;color:#204c57}
.archives a:before{margin-right:5px;content:"\f02d";font-family:FontAwesome}
.article-detail h1{font-family:'Lato',sans-serif;font-weight:700;font-size:30px;color:#204c57}
.article-detail h2{font-family:'Lato',sans-serif;font-weight:700;font-size:22px;color:#204c57}
.article-detail h3{font-family:'Lato',sans-serif;font-weight:700;font-size:18px;color:#ef7700}
.callout{padding:10px;margin:20px 0;max-width:600px}
.wisdom{background-color:#cff7b8;color:#655c6f}
.pitfall{background-color:#eec2c4}
.addendum{background-color:#f9d423;color:#bf4d28}
.fiddle{display:inline-block;background-color:#ffa500;color:#fff;margin:10px 0;padding:5px;}
.fiddle::after{margin-left:5px;content:"\f045";font-family:FontAwesome}
.archive h2{font-family:'Lato',sans-serif;font-weight:700;font-size:30px;margin:0;padding:0 0 20px 0}
.archive li{list-style-type:none}
.archive .year-label{font-family:'Lato',sans-serif;font-weight:700;font-size:22px;margin:0;padding:0}
.archive .month-label{margin:0;padding:0}
.archive ul.entries{margin-bottom:20px}
h2.things{margin-bottom:40px}
.thing{margin-bottom:40px;}
.thing h3{margin:0 0 8px 0;padding:0;color:#204c57;}
.thing h3 a{color:#204c57}
.thing .thumbnail{border:0;float:left;border-radius:0;display:inline-block;width:100px;min-height:130px;padding-right:20px}
.thing .blurb{margin-left:15px}
.moved{min-height:400px}
code.lang-markdown{color:#424242}
code.lang-markdown .header,code.lang-markdown .strong{font-weight:bold}
code.lang-markdown .emphasis{font-style:italic}
code.lang-markdown .horizontal_rule,code.lang-markdown .link_label,code.lang-markdown .code,code.lang-markdown .header,code.lang-markdown .link_url{color:#555}
code.lang-markdown .blockquote,code.lang-markdown .bullet{color:#bbb}
.tomorrow-comment,pre .comment,pre .title{color:#8e908c}
.tomorrow-red,pre .variable,pre .attribute,pre .tag,pre .regexp,pre .ruby .constant,pre .xml .tag .title,pre .xml .pi,pre .xml .doctype,pre .html .doctype,pre .css .id,pre .css .class,pre .css .pseudo{color:#c82829}
.tomorrow-orange,pre .number,pre .preprocessor,pre .built_in,pre .literal,pre .params,pre .constant{color:#f5871f}
.tomorrow-yellow,pre .class,pre .ruby .class .title,pre .css .rules .attribute{color:#eab700}
.tomorrow-green,pre .string,pre .value,pre .inheritance,pre .header,pre .ruby .symbol,pre .xml .cdata{color:#718c00}
.tomorrow-aqua,pre .css .hexcolor{color:#3e999f}
.tomorrow-blue,pre .function,pre .python .decorator,pre .python .title,pre .ruby .function .title,pre .ruby .title .keyword,pre .perl .sub,pre .javascript .title,pre .coffeescript .title{color:#4271ae}
.tomorrow-purple,pre .keyword,pre .javascript .function{color:#8959a8}
