body
html
  margin: 0
  padding: 0
  body-font()
  background-color: $bg-color

#content
  background-color: white
  padding-top: 40px
  padding-bottom: 40px

h2
  margin: 50px 0 0 0
  padding: 0
  second-header-font()
  color: $main-color
  a
    color: $main-color

.date
  footnote-font()
  color: $main-color
  margin-bottom: 10pA

@media (max-width: 768px)
  img
  iframe
    width: 100%
