body
html
  margin: 0
  padding: 0
  body-font()
  background-color: $bg-color
  overflow-x: hidden

#content
  background-color: white
  padding-top: 40px
  padding-bottom: 40px

h2
  margin: 50px 0 8px 0
  padding: 0
  second-header-font()
  color: $main-color
  a
    color: $main-color

h3
  margin: 50px 0 8px 0

p
li
pre
  max-width: 600px

pre
  margin: 20px 0

.date
  footnote-font()
  color: $main-color
  margin-bottom: 10px

code
  color: #5555AA
  background-color: #F3F3F9

.center
  text-align: center
  max-width: 600px

img.diagram
  margin: 30px auto

@media (max-width: 768px)
  img
  iframe
    width: 100%
