footer
  margin: 0
  padding: 20px 0 0 0
  height: 200px
  background-color: $bg-color
  border-top: 1px solid $main-color

  .wave
    display: inline-block
    background-image: url(../media/img/wave.png)
    background-repeat: no-repeat
    background-position: center top
    width: 42px
    height: 89px
    image-rendering: -webkit-optimize-contrast
    ms-interpolation-mode: nearest-neighbor
    image-rendering: -moz-crisp-edges

  li
    list-style-type: none
    margin-bottom: 4px

  li a
    margin-left: 10px
    color: $main-color
