header
  margin: 0
  padding: 0
  width: 100%
  background-color: white

  .title
    margin: 4px 0 4px 40px

    h1
      header-title-font()
      margin: 0
      padding: 0
      color: $main-color

    .links
      height: 50px
      line-height: 50px
      margin-right: 40px
      nav-bar-entry-font()
      a
        color: $main-color


  .banner-bg
    background-color: $bg-color
    border-top: 1px solid $main-color
    border-bottom: 1px solid $main-color
    height: 96px

  .banner
    font-size: 12em
    background-image: url(../media/img/dancers.png)
    width: 100%
    height: 89px
    background-repeat: repeat-x
    background-position: left center
    image-rendering: -webkit-optimize-contrast
    ms-interpolation-mode: nearest-neighbor
    image-rendering: -moz-crisp-edges
