
// ---- COLORS ----
$main-color = #204C57

$bg-color = #F0EFEC
$bg-color-dark = #D9D8D5

$focal-color = #EF7700
$focal-color-text = #fce9b9

$points-bg-color = #d0ff17

$entry-info-first-color = #d3d3d7
$entry-info-second-color = #a7a7af

$beginner-bg-color = #66ceff
$intermediate-bg-color = #d0ff17
$advanced-bg-color = #ff4700

$non-primary-button-bg-color = #79949a


// ---- FONTS ----
$main-font = 'Lato', sans-serif 

header-title-font()
  font-family: $main-font
  font-weight: 300
  font-size: 48px

logo-font()
  font-family: $logo-font
  font-size: 14px
  letter-spacing: 0

footer-font()
  font-family: $main-font
  font-size: 9px
  font-weight: 100

body-font()
  font-family: $main-font
  font-size: 12px

nav-bar-entry-font()
  font-family: $main-font
  font-weight: 700
  font-size: 18px
  line-height: auto

entry-info-font()
  font-family: $main-font
  font-weight: 700
  font-size: 18px
  line-height: auto
  

second-header-font()
  font-family: $main-font
  font-weight: 700
  font-size: 30px


// ---- MISC FOR NOW ----
$shadow-width = 3px
$big-shadow-width = 5px
$needed-page-margin = 30px
$footer-height = 20px

