body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: black;
	background-image: url(bgTiles.png);
	background-repeat: repeat-x;
	font-family: sans-serif;
	color: white;
}

a {
	color: #ff5a00;
}

#loadingContainer {
	height: 371px;
	width: 951px;
}

#loadingText {
	text-align: center;
	width: 400px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

#introContainer {
	margin-top: 90px;
	width: 954px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: black;
	padding: 0;
}

#copyContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 600px;
	background-color: black; 
	padding: 20px;
}

#logoContainer {
	float: left;
	display: inline-block;
	width: 124px;
	height: 84px;
	background-repeat: none;
}

#logoContainer img {
	width: 100%;
	height: 100%;
}

#textContainer {
	float: left;
	width: 445px;
	padding-left: 30px;
}


