.archive
  h2
    second-header-font()
    margin: 0
    padding: 0 0 20px 0

  li
    list-style-type: none

  .year-label
    third-header-font()
    margin: 0
    padding: 0

  .month-label
    margin: 0
    padding: 0

  ul.entries
    margin-bottom: 20px
