article.intro
  h2
    margin: 50px 0 0 0
    padding: 0
    second-header-font()
    color: $main-color
    a
      color: $main-color

  .more
    nav-bar-entry-font()
    color: $main-color
    a
      color: $main-color

  .more:after
    margin-left: 5px
    content: "\f0a9"
    font-family: FontAwesome

.archives
  margin-top: 40px
  width: 100%
  text-align: center
  color: $main-color

  a
    width: 100%
    color: $main-color

  a:before
    margin-right: 5px
    content: "\f02d"
    font-family: FontAwesome
