h2.things
  margin-bottom: 40px

.thing
  margin-bottom: 40px
  h3
    margin: 0
    padding: 0
    color: $main-color
    a
      color: $main-color

  .thumbnail
    border: 0
    border-radius: 0
    display: inline-block
    float: left
    width: 100px
    min-height: 130px
    margin-right: 20px
