
/* line 1 : /Users/matt/blog/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /Users/matt/blog/stylus/variables.styl */

/* line 66 : /Users/matt/blog/stylus/common.styl */

/* line 1 : /Users/matt/blog/stylus/common.styl */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.45;
  background-color: #f0efec;
  overflow-x: hidden;
}

/* line 9 : /Users/matt/blog/stylus/common.styl */
#content {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 14 : /Users/matt/blog/stylus/common.styl */
h2 {
  margin: 50px 0 8px 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #204c57;
}

/* line 19 : /Users/matt/blog/stylus/common.styl */
h2 a {
  color: #204c57;
}

/* line 22 : /Users/matt/blog/stylus/common.styl */
h3 {
  margin: 50px 0 8px 0;
}

/* line 25 : /Users/matt/blog/stylus/common.styl */
p,
li,
pre {
  max-width: 600px;
}

/* line 30 : /Users/matt/blog/stylus/common.styl */
pre {
  margin: 20px 0;
}

/* line 33 : /Users/matt/blog/stylus/common.styl */
.date {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 10px;
  color: #204c57;
  margin-bottom: 10px;
}

/* line 38 : /Users/matt/blog/stylus/common.styl */
code {
  color: #55a;
  background-color: #f3f3f9;
}
@media (max-width: 768px) {

/* line 43 : /Users/matt/blog/stylus/common.styl */
  img,
  iframe {
    width: 100%;
  }
}

/* line 46 : /Users/matt/blog/stylus/header.styl */

/* line 1 : /Users/matt/blog/stylus/header.styl */
header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}

/* line 7 : /Users/matt/blog/stylus/header.styl */
header .title {
  margin: 0 0 4px 40px;
}

/* line 10 : /Users/matt/blog/stylus/header.styl */
header .title h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  padding: 0;
  color: #204c57;
}

/* line 16 : /Users/matt/blog/stylus/header.styl */
header .title .links {
  height: 50px;
  line-height: 50px;
  margin-right: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: auto;
}

/* line 21 : /Users/matt/blog/stylus/header.styl */
header .title .links a {
  color: #204c57;
}

/* line 25 : /Users/matt/blog/stylus/header.styl */
header .banner-bg {
  background-color: #f0efec;
  border-top: 1px solid #204c57;
  border-bottom: 1px solid #204c57;
  height: 96px;
}

/* line 31 : /Users/matt/blog/stylus/header.styl */
header .banner {
  font-size: 12em;
  background-image: url("../media/img/dancers.png");
  width: 100%;
  height: 89px;
  background-repeat: repeat-x;
  background-position: left center;
  image-rendering: -webkit-optimize-contrast;
  ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
}

/* line 41 : /Users/matt/blog/stylus/footer.styl */

/* line 1 : /Users/matt/blog/stylus/footer.styl */
footer {
  margin: 0;
  padding: 20px 0 0 0;
  height: 200px;
  background-color: #f0efec;
  border-top: 1px solid #204c57;
}

/* line 8 : /Users/matt/blog/stylus/footer.styl */
footer .wave {
  display: inline-block;
  background-image: url("../media/img/wave.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 42px;
  height: 89px;
  image-rendering: -webkit-optimize-contrast;
  ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
}

/* line 19 : /Users/matt/blog/stylus/footer.styl */
footer li {
  list-style-type: none;
  margin-bottom: 4px;
}

/* line 23 : /Users/matt/blog/stylus/footer.styl */
footer li a {
  margin-left: 10px;
  color: #204c57;
}

/* line 5 : /Users/matt/blog/stylus/pages/pages.styl */

/* line 5 : /Users/matt/blog/stylus/pages/index.styl */

/* line 6 : /Users/matt/blog/stylus/pages/index.styl */

/* line 7 : /Users/matt/blog/stylus/pages/index.styl */
article.intro .more {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: auto;
  color: #204c57;
}

/* line 10 : /Users/matt/blog/stylus/pages/index.styl */
article.intro .more a {
  color: #204c57;
}

/* line 12 : /Users/matt/blog/stylus/pages/index.styl */
article.intro .more:after {
  margin-left: 5px;
  content: "\f0a9";
  font-family: FontAwesome;
}

/* line 16 : /Users/matt/blog/stylus/pages/index.styl */
.archives {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: #204c57;
}

/* line 21 : /Users/matt/blog/stylus/pages/index.styl */
.archives a {
  width: 100%;
  color: #204c57;
}

/* line 24 : /Users/matt/blog/stylus/pages/index.styl */
.archives a:before {
  margin-right: 5px;
  content: "\f02d";
  font-family: FontAwesome;
}

/* line 28 : /Users/matt/blog/stylus/pages/article.styl */

/* line 1 : /Users/matt/blog/stylus/pages/article.styl */

/* line 2 : /Users/matt/blog/stylus/pages/article.styl */
.article-detail h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #204c57;
}

/* line 6 : /Users/matt/blog/stylus/pages/article.styl */
.article-detail h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #204c57;
}

/* line 10 : /Users/matt/blog/stylus/pages/article.styl */
.article-detail h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ef7700;
}

/* line 15 : /Users/matt/blog/stylus/pages/article.styl */
.callout {
  padding: 10px;
  margin: 20px 0;
  max-width: 600px;
}

/* line 20 : /Users/matt/blog/stylus/pages/article.styl */
.wisdom {
  background-color: #cff7b8;
  color: #655c6f;
}

/* line 24 : /Users/matt/blog/stylus/pages/article.styl */
.pitfall {
  background-color: #eec2c4;
}

/* line 27 : /Users/matt/blog/stylus/pages/article.styl */
.addendum {
  background-color: #f9d423;
  color: #bf4d28;
}

/* line 31 : /Users/matt/blog/stylus/pages/article.styl */
.fiddle {
  display: inline-block;
  background-color: #ffa500;
  color: #fff;
  margin: 10px 0;
  padding: 5px;
}

/* line 38 : /Users/matt/blog/stylus/pages/article.styl */
.fiddle::after {
  margin-left: 5px;
  content: "\f045";
  font-family: FontAwesome;
}

/* line 42 : /Users/matt/blog/stylus/pages/archive.styl */

/* line 1 : /Users/matt/blog/stylus/pages/archive.styl */

/* line 2 : /Users/matt/blog/stylus/pages/archive.styl */
.archive h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  padding: 0 0 20px 0;
}

/* line 7 : /Users/matt/blog/stylus/pages/archive.styl */
.archive li {
  list-style-type: none;
}

/* line 10 : /Users/matt/blog/stylus/pages/archive.styl */
.archive .year-label {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

/* line 15 : /Users/matt/blog/stylus/pages/archive.styl */
.archive .month-label {
  margin: 0;
  padding: 0;
}

/* line 19 : /Users/matt/blog/stylus/pages/archive.styl */
.archive ul.entries {
  margin-bottom: 20px;
}

/* line 21 : /Users/matt/blog/stylus/pages/stuff.styl */

/* line 4 : /Users/matt/blog/stylus/pages/stuff.styl */
h2.things {
  margin-bottom: 40px;
}

/* line 6 : /Users/matt/blog/stylus/pages/stuff.styl */
.thing {
  margin-bottom: 40px;
}

/* line 8 : /Users/matt/blog/stylus/pages/stuff.styl */
.thing h3 {
  margin: 0 0 8px 0;
  padding: 0;
  color: #204c57;
}

/* line 12 : /Users/matt/blog/stylus/pages/stuff.styl */
.thing h3 a {
  color: #204c57;
}

/* line 14 : /Users/matt/blog/stylus/pages/stuff.styl */
.thing .thumbnail {
  border: 0;
  float: left;
  border-radius: 0;
  display: inline-block;
  width: 100px;
  min-height: 130px;
  padding-right: 20px;
}

/* line 22 : /Users/matt/blog/stylus/pages/stuff.styl */
.thing .blurb {
  margin-left: 15px;
}

/* line 24 : /Users/matt/blog/stylus/syntax/syntax.styl */

/* line 15 : /Users/matt/blog/stylus/syntax/syntax.styl */
code.lang-markdown {
  color: #424242;
}

/* line 18 : /Users/matt/blog/stylus/syntax/syntax.styl */
code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

/* line 21 : /Users/matt/blog/stylus/syntax/syntax.styl */
code.lang-markdown .emphasis {
  font-style: italic;
}

/* line 24 : /Users/matt/blog/stylus/syntax/syntax.styl */
code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

/* line 27 : /Users/matt/blog/stylus/syntax/syntax.styl */
code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}

/* line 34 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-comment,
pre .comment,
pre .title {
  color: #8e908c;
}

/* line 37 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-red,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}

/* line 40 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-orange,
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}

/* line 43 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-yellow,
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #eab700;
}

/* line 46 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-green,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}

/* line 49 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-aqua,
pre .css .hexcolor {
  color: #3e999f;
}

/* line 52 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-blue,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}

/* line 55 : /Users/matt/blog/stylus/syntax/syntax.styl */
.tomorrow-purple,
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
