
mixin date(date)
  -var d = date.getDate() + 1
  -var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
  -var m = monthNames[date.getMonth()]
  -var y = date.getFullYear()
  span.date
    | #{ d + '. ' + m + ' ' + y }

