extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        h2
          a(href=article.url)= article.title
        div.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
      section.content
        != article.intro
      if article.hasMore
        span.more
          a(href=article.url) more

  div.archives
    a(href='/archive.html') Archives



