extends layout

block header-links
  a(href='/') my blog

block content
  h2.things Some things I've made
  div.container
    each thing in page.metadata.things
      div.thing.row
        div.col-md-offset-1.col-md-1
          div.thumbnail
            img(src=thing.thumbnail)
        div.col-md-9.blurb
          h3
            a(href=thing.url)= thing.name
          if thing.github
            div.github
              a(href=thing.github) github
          p!= thing.description
